<ion-view title="Home">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="some-header-iphone5">
        <div id="iphone5Wrapper">
        <div id="home-screen-iphone5-view-player"style="background-color: orange;height: 160px;width: 160px; float:left;"> video player</div>
        <div id="home-screen-date-content" style="background-color:gold; height:160px;width:160px; float:right; z-index: -1">
            <div id="home-screen-menu-date" style="background-color: gray;height: 80px;width: 80px;float: left;z-index: 1;">date</div>
            <div id="home-screen-find-a-meeting" style="background-color: blue;height: 80px;width: 80px;float: right;z-index: 1;" href="#/app/meeting">Meeting</div>
            <div id="home-screen-meeting-favorites" style="background-color: yellow;height: 80px;width: 80px;float:left; z-index: 1;">fav</div>
            <div id="home-screen-cal" style="background-color: brown;height: 80px;width: 80px;float: right;">find a</div>
        </div>
        <div id="home-screen-user-loggedin" style="float:left;height:160px;width:320px;background-color: #ffffff;z-index: 0;">
            <div style="background-color: lightseagreen;height: 66px;width: 66px;position: relative;top: 20px; left: 30px;">image</div>
            <div style="background-color: transparent;height: 40px; width: 90px;position: relative; top: -44px; left: 135px;">User Name</div>
            <div style="background-color: transparent;height: 80px; width: 100px; position: relative; top: -70px; left: 135px;"> Under username copy</div>
            <div style="background-color: transparent;height: 50px; width: 30px; position: relative; top: -90px;   left: 30px;"> ph1</div>
            <div style="background-color: transparent;height: 50px; width: 30px; position: relative; top: -140px;   left: 115px;"> ph2</div>
            <div style="background-color: transparent;height: 50px; width: 30px; position: relative; top: -190px;   left: 200px;"> ph3</div>
        </div>
        <div id="home-screen-education" style="float:left;height:160px;width:160px;background-color:saddlebrown;">Education</div>
        <div id="home-screen-unnamedbox" style="float:right;height:160px;width:160px;background-color:pink;">unnamed</div>
        <div id="home-screen-unnamedbox2" style="float:left;height:160px;width:160px;background-color:blue;">unnamed</div>
        <div id="home-screen-unnamedbox3" style="float:right;height:160px;width:160px;background-color:silver;">unnamed</div>
        </div>
    </ion-content>
</ion-view>